<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">SilexStarter</h4>
            </div>
            <div class="modal-body">
                <h4 class="text-center">SilexStarter</h4>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default">
                    <i class="fa fa-fw fa-github"></i> Github
                </a>
                <a class="btn btn-default">
                    <i class="fa fa-fw fa-twitter"></i> Twitter
                </a>
                <a class="btn btn-default">
                    <i class="fa fa-fw fa-facebook"></i> Facebook
                </a>
                <a class="btn btn-default">
                    <i class="fa fa-fw fa-web"></i> Website
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>