ul.sidebar .sidebar-main a, .sidebar-footer, ul.sidebar .sidebar-list a:hover {
	background: #273759;
}

li.sidebar-title{
    cursor: pointer;
}
#sidebar-wrapper {
	background: #30426a;
}
ul.sidebar .sidebar-title {
	color: #627cb7;
}
#page-wrapper:not(.active) ul.sidebar .sidebar-title.separator {
	background: #273759;
}
.user .badge {
    left: 1px;
    position: absolute;
    top: 12px;
    font-size:10px;
    background-color: #e05d6f !important;
    color: #fff !important;
}

ul.sidebar .active a{
    color: #fff;
    border-left: 3px solid lightgreen;
    text-indent: 22px;
    background: #273759;
}
ul.sidebar .active a .menu-icon {
    text-indent: 25px;
}