{% set template = config.get('@silexstarter-dashboard.config.template') %}
{% set title = '404 Not Found' %}
{% set page_title = '404 Not Found' %}
{% extends '@silexstarter-dashboard/'~ template ~'/index.twig' %}

{% block content %}
    <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>

            <p>
                We could not find the page you were looking for. <br>
                Meanwhile, you may <a href="url_for('admin.home')">return to dashboard</a>.
            </p>
        </div>
    </div>
{% endblock %}