<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <i class="fa fa-fw fa-info-circle"></i> <a href="#about" id="silexstarter-about" onclick="$('#silexstarter-about-modal').modal('show');">About</a>
        <i class="fa fa-fw fa-support"></i> <a href="mailto:developers@xsanisty.com?subject=SilexStarter Support" target="_blank">Support</a>
        <i class="fa fa-fw fa-github"></i> <a href="http://github.com/xsanisty/SilexStarter/" target="_blank">Github</a>
    </div>
    <strong>Brought to you by <a href="http://xsanisty.com" target="_blank">Xsanisty</a>.</strong>
</footer>